<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INGREDIENTES</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            text-align: center;
        }
        table {
            width: 60%;
            margin: auto;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h1> TABLA DE INGREDIENTES </h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Calorias</th>
                <th>Vegetariano</th> 
                <th>Tipo</th>
                <th>Inventario</th>               
            </tr>
        </thead>
        <tbody>
            {% for ingrediente in ingredientes %}
            <tr>
                <td>{{ ingrediente.ingredienteID }}</td>
                <td>{{ ingrediente.nombre }}</td>
                <td>{{ ingrediente.precio }}</td>
                <td>{{ ingrediente.calorias }}</td>
                <td>{{ ingrediente.vegetariano }}</td>
                <td>{{ ingrediente.tipo }}</td>
                <td>{{ ingrediente.inventario }}</td>                   
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>🍧 INGREDIENTES 🍧</h1>

    <h2>📌 Navegación</h2>
    <p><a href="/auth/profile">Datos del Usuario</a></p>
    <p><a href="/dashboard">🚀 Index</a></p>
    <p><a href="/vender">🤗 Vender</a></p> 
    <p><a href="/productos">📑 Ver lista de productos</a></p>
    <p><a href="/ingredientes">📝 Ver lista de ingredientes</a></p>
    <p><a href="/logout">Cerrar sesión</a></p>


</body>
</html>